.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f9;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 350px;
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.card h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.card h2 {
  font-size: 20px;
  color: #444;
  margin-bottom: 15px;
}

.card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.card .user-info {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.circular-image {
  width: 150px;  /* Set the width */
  height: 150px; /* Set the height to match width */
  border-radius: 50%;  /* Makes the image circular */
  object-fit: cover;  /* Ensures the image fits inside the circle without distortion */
}